// Colors
$white: #fff;
$gray-100: #ebebeb;
$gray-200: #ced4da;
$gray-400: #888;
$gray-600: #303030;
$gray-800: #202020;
$gray-900: #101010;
$black: #000;
$mandarine: #f39c12;

// Responsive media queries sizes
$media-xxs: 320px;
$media-xs: 480px;
$media-sm: 768px;
$media-md: 950px;
$media-lg: 1440px;
$media-xl: 1920px;
